/* CSS */

/* WEB Font 가져옴 */
@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSerifKR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SDKukdetopokki-Lt';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/SDKukdetopokki-aLt00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*******************/



h1{
    /*background-color: white;*/
    /*font-family:'SDSamliphopangche_Outline';*/
    font-family: 'Coustard', serif;
    font-size:400%;
    text-align: center; /* 중앙정렬 */
    /*line-height: 150%;*/  /* 줄간격 조절 */
    color: #261A20;

}

span{
    font-family: 'Cafe24Oneprettynight';
    font-size: 20px;
    line-height: 150%;
    color:#333;
}

h2{
    font-family: 'NotoSerifKR';
    font-size:30px;
    color:#333;
}

h4{
    font-family: 'NotoSerifKR';
    font-size: 20px;
    line-height: 150%;
    color:#333;
}

/************ grid *************/
/* First the Grid */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  /* The Picture Frame */
  .gallery-frame {
    padding: .5rem;
    font-size: 1.2rem;
    text-align: center;
    /*background-color: #333;*/
    color: rgb(223, 223, 223);
  }
  
  /* The Images */
  .gallery-img {
    /*max-width: 100%;*/
    /*height: auto;*/
    width : 430px;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.25s ease-in-out;
  }
  
  .gallery-img:hover {
    opacity: .7;
  }

  figcaption{
    font-family: 'SDKukdetopokki-Lt';
      font-size: 20px;
  }
/********************************/
/*
.wrapper {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 500px 500px;
}
.item-1 {
  background-image: url(./chicken.jpeg);
  border: 1px solid darkblue;
  color: blue;
  text-align: center;
}
*/